# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# pytest
.cache/

# mypy
.mypy_cache/

# pyre type checker
.pyre/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# coverage reports
.coverage
.coverage.*
*.coveragerc
.history